/* home page */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0px;
}

h1 {
    font-family: 'Zeyada', cursive;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em;
    font-size: 1.3vw;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar a:hover {
    color: #7C3F2C;
}

#logo {
    height: 5vw;
    padding: 10px;
}

#edit {
    font-size: 1.5vw;
    padding: 5px;
}

.cart-wrapper {
    font-size: 2.2vw;
}

#cart {
    font-size: 2.2vw;
    color: #7C3F2C;
}

#cart-numitems {
    font-size: 1.5vw;
    color: white;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right a {
    padding-left: 10px;
}

.hero img {
    width: 100%;
}

.hero button {
    background-color: #7C3F2C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
}

.hero a {
    text-decoration: none;
    color: white;
}

.hero button:hover {
    cursor: pointer;
    color: black;
}

.hero-content {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-content h1 {
    color: white;
    font-size: 6vw;
    margin: 0px;
}

.about-content {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 3em;
}

.about-content h1 {
    color: black;
    font-size: 6vw;
    margin: 0px;
}


/* product browsing page */

.products-header {
    background-image: url("assets/order-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
    text-align: center;
}

.products-header h1 {
    font-size: 5.5vw;
    margin: 0%;
    padding: 0.5em;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto;
    padding: 0.5em 0;
}

.product {
    margin: 0.6em auto;
    text-align: center;
    flex: 1 0 24%;
    margin: 1em 3em;
    background-color: rgba(124, 63, 44, 0.09);
}

.product img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 1em;
}

.product a {
    color: black;
    text-decoration: none;
}

.product a:hover {
    color: #7C3F2C;
}

.product h2 {
    font-size: 1.2em;
    margin: 0em;
    padding-bottom: 0.8em;
}


/* product details page */

#back {
    color: black;
}

#back:hover {
    color: #7C3F2C;
}

.details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2em 5em;
}

.details-container img {
    width: 100%;
}

.details-container h1 {
    font-size: 4em;
    margin: 0.5em 0em;
}

.details-info {
    padding: 3em;
}

.details-info a {
    text-decoration: none;
    color: white;
}

.details-info button {
    text-decoration: none;
    color: white;
}

.details-info button:hover {
    cursor: pointer;
    color: black;
}

.dropdowns {
    margin: 0.5em 0em;
}

.details-info button {
    background-color: #7C3F2C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin-top: 1em;
}


/* Cart Page */

.cart-header {
    background-image: url("assets/about.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
    text-align: center;
}

.cart-header h1 {
    font-size: 5.5vw;
    margin: 0%;
    padding: 0.5em;
}

.cart-wrapper {
    text-align: center;
    padding: 2em;
}

.cart-msg {
    color: gray;
    font-size: 1em;
    padding: 2em;
}

.cart-total {
    color: black;
    font-size: 0.6em;
    font-weight: bold;
}

.cart-bottom a {
    text-decoration: none;
    color: white;
}

.cart-bottom button:hover {
    cursor: pointer;
    color: black;
}

#checkout-btn {
    background-color: #7C3F2C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
}

#keep-shopping-btn {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
}